configparser==5.0.2
fvcore==0.1.5.post20210402
huggingface-hub==0.5.1
hydra-core==1.1.1
kornia==0.6.3
numpy==1.22.2
omegaconf==2.1.1
pandas==1.4.0
pathtools==0.1.2
pillow==9.0.1
Pillow-SIMD==7.0.0.post3
pycocotools==2.0.4
pytorch-lightning==1.6.0
pyyaml==6.0
requests==2.27.1
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tokenizers==0.11.6
torch==1.10.0
torchvision==0.11.1
tqdm==4.63.0
transformers==4.18.0
typing-extensions==4.0.1
urllib3==1.26.8
wandb==0.12.5
yacs==0.1.8
yaspin==2.1.0